anyio==3.6.0
asgiref==3.5.1
asyncpg==0.25.0
bcrypt==3.2.0
cffi==1.14.4
click==7.1.2
databases==0.5.5
fastapi==0.63.0
greenlet==1.1.2
h11==0.12.0
httptools==0.4.0
idna==3.3
passlib==1.7.4
pycparser==2.20
pydantic==1.7.3
PyJWT==2.0.0
python-dotenv==0.20.0
PyYAML==6.0
six==1.15.0
sniffio==1.2.0
SQLAlchemy==1.4.36
starlette==0.13.6
typing_extensions==4.2.0
uvicorn==0.13.3
uvloop==0.16.0
watchgod==0.8.2
websockets==10.3
